.todoapp {
  text-align: center;
  padding: 20px 150px;
  width: 20%;
  height: 70%;
  background-color: white;
  border: 1px solid;
}
.Todo {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.Todo input {
  font-size: 18px;
}
.Todo button {
  font-size: 16px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: azure;
  }
}
ul {
  margin: 2px;
  list-style: none;
  padding: 0;
  font-size: 17px;
  width: 400px;
}
ul li.completed label {
  text-decoration: line-through;
}
.view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  gap: 10px;
}

.task-todo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.task-todo .filter {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.task-todo .filter li {
  padding: 0px 10px;
}

.task-todo .filter li a {
  text-decoration: none;
  color: black;
  &:hover {
    color: aqua;
  }
}
